<div class="container">
  <div class="chart-container">
    <h4 class="m-2">Gráfico de Barras - Costos de Eventos</h4>
    <ul id="barChartLegend" class="chart-legend"></ul>
    <canvas id="barChart"></canvas>
  </div>

  <div class="chart-container">
    <h4 class="m-2">Gráfico Lineal - Costos de Eventos</h4>
    <ul id="lineChartLegend" class="chart-legend"></ul>
    <canvas id="lineChart"></canvas>
  </div>

  <div class="chart-container">
    <h4 class="m-2">Gráfico Donut - Costos de Eventos</h4>
    <canvas id="donutChart"></canvas>
  </div>
</div>
